.homeBody {

  background: #7a7a7a;
}

.footer {
  background: #222222;
  width: 100%;
  padding: 0;
  margin: 0;
}
.topBtm-block {
  height: 1100px;
  width: 100%;
  margin: auto;
  position: relative;
}

#myBtn {
  width: 150px;
  display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #ff5c6e;
    color: #ffffff;
    font-family: 'Inconsolata';
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#myBtn:hover,
#myBtn:focus,
#myBtn:active {
    background: #FF2A43;
}

#myBtn:focus,
#myBtn:active {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#myBtn:active {
    transform: scale(0.99);
}
/*CONTENT*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/**/

.info-1 .info-2 .info-3 .info-4 .info-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(#2980b9, 0.5);

  span { font-size: 2.2rem; }
}
.product-info {
  position: relative;
  margin: auto;
  bottom: 5vh;
}
.info-outer-container {
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #eef4ed;
  border-radius: 21px;
  margin: auto;
  top: 15vh;

}
.info-1 {
  position: relative;
  padding: 50px;
  width: auto;
  min-height: 800px;

}
.info-container {
  height: 100%;
  padding: 50px;
  width: 50%;
  float: left;
  position: relative;
  padding-bottom: 100px;
}
.info-background {
  padding: 50px;
  border-radius: 21px;
  text-align: center;
  background-color: #eef4ed;
  min-height: 400px;
}
.info-background-2 {

  padding: 50px;
  border-radius: 21px;
  text-align: center;
  color: white;
  background-color: #eef4ed;
  min-height: 60vh;
}
.info-outer-container-2 {
  position: relative;
  min-height: 80vh;
  width: 100%;
  background: #7a7a7a;
}
.product-image {
  height: 400px;
  width: auto;
  border-radius: 21px;
  margin: auto;
  display: block;
}

.h2Container {
  padding:0;
  margin:0;
  overflow-x: visible;
  margin: auto;
  padding-top: 0;
}
.h2TextContainer {
  width: 100%;
}

.h2TextBlock {
  font-size: 25px;
  margin: auto;
  width: 60%;
}
.h2TextBlock:hover {

  font-size: 20px;
  margin: auto;
  width: 50%;
}


.section-divider {
  position: relative;
}
.section-divider:before {
      font-family: 'codepen';
      content: "";
      width: 6.5rem;
      height: 6.5rem;
      background: #222222;
      border-radius: 100%;
      position: absolute;
      top: -3.25rem;
      left: calc(50% - 3.25rem);
      color: rgba(#2980b9, 0.5);
      line-height: 6rem;
      text-indent: 1.75rem;
      font-size: 3rem;
  }






/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to right bottom, #7A7A7A 49%, #222222 50%),    linear-gradient(-50deg, #222222 16px, #000 0);
}
/*2D2D2A*/

/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #222222 49%, #7A7A7A 50%);
}
.skew-c-top{
  width:100%;
  height:115px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #222222 49%, #7A7A7A 50%);
}
/*-------*/
/* FOOTER START */
.footer {
  height: 400px;
  width: auto;
  left: 0;
  bottom: 0px;
  color: lightgray;
  background-color: #222222;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5); */
}

.ul-footer {
  position: relative;
  bottom: -13.5em;
  /*transform: translate(-50%, -50%);*/
  margin: auto;
  padding: 0;
  display: flex;
}
.ul-footer .li-footer {
  list-style: none;
}


.ul-footer .li-footer .a-footer {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: lightgray;
  margin: 0 10px;
  transition: .5s;
}

.ul-footer .li-footer .a-footer .span-footer {
  position: absolute;
  transition: transform 0.5s;
}

/* UPPER AND LOWER */
.ul-footer .li-footer .a-footer .span-footer:nth-child(1),
.ul-footer .li-footer .a-footer .span-footer:nth-child(3) {
  width: 100%;
  height: 1px;
  background: lightgray;
}
.ul-footer .li-footer .a-footer .span-footer:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
.ul-footer .li-footer .a-footer:hover .span-footer:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.ul-footer .li-footer .a-footer .span-footer:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.ul-footer .li-footer .a-footer:hover .span-footer:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

/* RIGHT AND LEFT */
.ul-footer .li-footer .a-footer .span-footer:nth-child(2),
.ul-footer .li-footer .a-footer .span-footer:nth-child(4) {
  width: 1px;
  height: 100%;
  background: lightgray;
}
.ul-footer .li-footer .a-footer .span-footer:nth-child(2) {
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}
.ul-footer .li-footer .a-footer:hover .span-footer:nth-child(2) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s;
}
.ul-footer .li-footer .a-footer .span-footer:nth-child(4) {
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}
.ul-footer .li-footer .a-footer:hover .span-footer:nth-child(4) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

#foot-item-1 {
  margin: auto 5px auto auto;
}
#foot-item-2 {
  margin: auto 5px auto 5px;
}
#foot-item-3 {
  margin: auto auto auto 5px;
}

.text-center {
  color: white;
}
.text-footer {
  color: lightgray;
  opacity: 0.9;
  text-align: center;
  margin: 10px auto;
  top: 60%;
  position: relative;
}

/* FOOTER END */

.navbarContainer {
  position: fixed;
  width: 100%;
  top: 10px;
  z-index: 2;
  padding-top: 0;
  padding-bottom: 15px;
  margin-top: -10px;
}
.menuBtn {
  position: relative;
  top: 50px;
  left: 50px;
  width: 30px;
  height: 50px;
  cursor: pointer;
}
.menuLine1 {
  display: block;
  max-width: 30px;
  height: 2px;
  margin: 3px 0;
  background-color: #ff5c6e;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.menuLine2 {
  display: block;
  max-width: 30px;
  height: 2px;
  margin: 3px 0;
  background-color: #ff5c6e;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.siteLogo {
  float: right;

}
.logo {
  top: 50px;
  right: 30px;
  width: 320px;
  height: 74px;
}
.siteLogo:hover {
  opacity: 0.6;
  transition: 0.1s ease;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
