/* @ MEDIA */
@media only screen and (max-width:1280px) {
/* LAPTOP */
* {
  overflow-x: hidden;
}

.middle-block {
  height: auto;
}

.text-block {
  width: 70%;
}
.arrowBtn {
  visibility: hidden;
}
.topBtm-block {
  height: auto;
}
.topBlock {
  height: auto;
  padding: auto;
}
.topBtm-block-produkter {
  margin:0;
  padding:10%;
}
.anim-typewriter-3 {
  font-size: 30px;
}
.anim-typewriter-2 {
  font-size: 25px;
  top: 40%;
}
.intro-blcok {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 60px;
}
.h2Container {
  padding:0;
  margin:0;
  overflow-x: visible;
  margin: auto;
  padding-top: 0;
}
.h2TextContainer {
  width: 100%;
}

.h2TextBlock {
  font-size: 25px;
  margin: auto;
  width: 60%;
}
.h2TextBlock:hover {

  font-size: 20px;
  margin: auto;
  width: 50%;
}
.row {
  width: auto;
  margin-top: 100px;
}

}
  .arrowBtn {
    position: relative;
    top: 5%;
 }
}

@media only screen and (max-width:960px) {
  /* laptop side window */
  .info-outer-container {
    width: 100%;
    height: 800px;
  }
  .info-1{
    padding: 50px;
    padding-top: 150px;
  }

  .info-container {
    padding: 0;
    float: none;
    width: 100%;
  }
  .info-1 {
    width: 100%;
    margin-top: 100px;
    padding: 10px;
  }
  .info-background {

  }
  .topBtm-block {
    height: 1000px;
  }
  .h2Container {
    position: relative;
    top: 20px;
  }
  .h2Container2 {
    margin-top: 100px;
  }
  .skew-c-top {
    visibility: hidden;
  }
}


@media only screen and (max-width:400px) {
/* Phone */
  * {
    overflow-x: hidden;
  }
  /* SCROLLBAR */
  ::-webkit-scrollbar {
    display: none;
  }
  /* SCROLLBAR END */
  .arrow-text {
    visibility: hidden;
  }
  .logo {
    margin: 20px 20px;
    width: 50%;
    height: auto;
    float: right;
  }
  .text-block {
    width: 100%;
  }
  .arrowBtn {
    visibility: hidden;
  }
  .topBtm-block {
    height: 1700px;
    padding: 0;
    margin:0;
  }
  .topBtm-block-produkter {
    height: auto;
  }
  .h2TextBlock-static {
    width: 250px;
    margin-top: 50px;
  }
  .h2Container {
    position: relative;
    top: 20px;
  }
  .h2Container2 {
    position: relative;
    top: 100px;
  }
  .middle-block {
    height: 700px;
  }
  .info-outer-container {
    overflow-y: visible;
    width: 100%;
    height: 1500px;
    margin: auto;
  }
  .info-1 {
    margin: auto;
  }
  .info-container {
    padding-top: 20px;
  }
  .skew-c-top {
    visibility: hidden;
  }
  .anim-typewriter {
    font-size: 25px;
    width: auto;
  }
  .anim-typewriter-2 {
    font-size: 20px;
    width: auto;
    top: 40%;
  }
  .intro-blcok {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 60px;
  }
  .h2Container {
    padding:0;
    margin:0;
    overflow-x: visible;
    margin: auto;
    padding-top: 0;
  }
  .h2TextContainer {
    width: 100%;
  }

  .h2TextBlock {
    font-size: 20px;
    margin: auto;
    width: 70%;
  }
  .h2TextBlock:hover {

  }
  .h2TextBlock-läsmer {
    visibility: visible;
  }
  .col-lg-4 {
    overflow-x:auto;
    margin: auto;
    width: 75%;
  }
  .col-lg-4:hover {
    transition: 0;
    background: transparent;
    color: white;
  }
  .col-lg-4:active {
    background: white;
    color: black;
    transition: 0.5s;
  }

  /* .merInfoBtn-produkt {
    display: none !important;
  } */

  /* .topBtm-block {
    height: 750px;
  }
  .topBtm-block-produkter {
    height: 850px;
  }

  .middle-block {
    height: 750px;
  }
  .line {
   margin-top: 100px;
   top: 10px;
 }
  .line-2 {
   top: 10px;
 }
  .arrowBtn {
    position: relative;
    top: 5%;
 } */
}
