/* TEXT ANIMATION */
  .anim-typewriter-2 {
    color: white;
    /* background-color: #ff5c6e; */
    font-weight: 200;
    animation: typewriter-2 1.5s steps(15) 1.6s 1 normal both,
    blinkTextCursor-2 500ms steps(20) infinite normal;
  }
  @keyframes typewriter-2 {
        from {
              width: 0;
        }
        to {
              width: 8em;
        }
  }
.h2TextBlock-static {
  padding: 20px;
  font-size: 25px;
  border-radius: 5px;
  margin: auto;
  width: 400px;
  color: black;
  background-color: white;
  font-family: 'Inconsolata', monospace;
}
.row {
  margin-top: 80px;
}
.productimage-2 {
  display: none;
  z-index: 99;
}
.productimage-2:hover {
  display: inline;
}
